body{
  margin: 10px;
  outline: 0;
  font-family: 'Montserrat', sans-serif;
  color: #444;
}
p{
  margin: 20px;
}
div.wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.buttons button{
  margin: 10px;
  outline: none;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  font-weight: 900;
  background: #71DB77;
  border-radius: 2px;
  font-size: 18px;
  /* letter-spacing:.5px; */
}

button:focus {
  background: #71DB7799;
}

input{
  border: none;
  outline: none;
  border-bottom: 2px solid #71DB77;
  font-weight: 600;
  padding-left: 20px
}

.output{
  font-size: 40px;
}

.out{
  border: 1px solid #71DB77;
  padding: 20px;
  border-radius: 5px;
  min-width: 60vw;
  overflow-x: auto;
}

header{
  text-align: center;
}

header p{
  color: #DB4437;
}
